@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Play:wght@400;700&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Reddit+Mono:wght@200..900&family=Rubik+Iso&family=Seaweed+Script&family=Stick&family=Tauri&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6e2ff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #333;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px); /* Apply blur to the navbar background */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.navbar a {
    text-decoration: none;
    color: azure;
    margin: 0 10px;
}

.navbar i {
    font-size: 2em;
}

.navbar a:hover {
    color: gray;
}

.order-cards-main {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    padding: 20px;
    border: 2px solid #333; /* Add border to main div */
    border-radius: 10px; /* Optional: add rounded corners */
    margin: 20px; /* Optional: add margin around the main div */
}

.order-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out; /* Smooth transition for the animation */
}

.order-card:hover {
    transform: scale(1.05); /* Bulging out effect */
}

.order-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.order-card-details {
    text-align: center;
}

.order-card-details h4 {
    margin: 10px 0;
    font-size: 1.5em;
}

.order-card-details p {
    margin: 5px 0;
}

.order-card-actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.order-card-actions .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.order-card-actions .btn-primary {
    background-color: #007bff;
    color: white;
}

.order-card-actions .btn-danger {
    background-color: #dc3545;
    color: white;
}

.order-card-actions .btn:hover {
    opacity: 0.9;
}
