{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static "stylesheet/main_css/home.css" %}">
</head>
<body>
    

    <div class="navbar">

        <a href="{% url "main_home" %}">

            <i class="fa-solid fa-cart-shopping"></i>
            
        </a>


        <a href="{% url "books_home" %}">

            Books            

        </a>


        <a href="{% url "gadgets_home" %}">

            Gadgets            

        </a>


        <a href="{% url "bottles_home" %}">

            Bottles

        </a>

        <a href="{% url "wallets_home" %}">

            Wallets

        </a>
        



    </div>

    <div class="banner-div">

        <div class="banner-img-div">


            <img src="{% static "assets/home/Banner_Phones.jpg" %}" alt="">            


        </div>


    </div>
    



</body>
</html>