{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static "stylesheet/main_css/home.css" %}">
</head>
<body>
    
    <div class="top-bar">
        <div class="shop-now-div">
            <h1>SHOP NOW</h1>
        </div>

        <div class="social-links-div">
            <a href="https://github.com/Shubhashish-Chakraborty/Cart-Project-Django" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>

            <a href="https://www.linkedin.com/in/shubhashish-chakraborty" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>

            <a href="https://twitter.com/__Shubhashish__" target="_blank">
                <i class="fa-brands fa-x-twitter"></i>
            </a>

            <a href="https://www.instagram.com/___shubhashish___/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
    </div>

    <div class="navbar">
        <a href="{% url "main_home" %}">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>

        <a href="{% url "books_home" %}">
            Books
        </a>

        <a href="{% url "gadgets_home" %}">
            Gadgets
        </a>

        <a href="{% url "bottles_home" %}">
            Bottles
        </a>

        <a href="{% url "wallets_home" %}">
            Wallets
        </a>
    </div>

    <div class="banner-div">
        <div class="banner-img-div">
            <img src="{% static "assets/home/Banner_Phones.jpg" %}" alt="">
        </div>
    </div>
</body>
</html>
