@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Play:wght@400;700&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Reddit+Mono:wght@200..900&family=Rubik+Iso&family=Seaweed+Script&family=Stick&family=Tauri&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6e2ff;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Reduced padding for a smaller top bar */
    background-color: #333;
}



.shop-now-div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px; /* Reduced padding for a smaller capsule */
    border: 2px solid azure;
    border-radius: 25px;
    color: azure;
    font-size: 1.5em; /* Reduced font size */

    cursor: pointer;
}

.shop-now-div:hover {
    box-shadow: 0px 0px 40px 5px rgb(37, 177, 208);

    color: rgb(0, 180, 126);

    transition: 0.5s;
}

.shop-now-div h1 {
    margin: 0;
    font-size: 1.2em; /* Smaller font size for "SHOP NOW" text */
}

.social-links-div {
    display: flex;
    align-items: center;
}

.social-links-div a {
    text-decoration: none;
    color: azure;
    margin: 0 10px;
    font-size: 1.5em; /* Increased the size of the icons */
}

.social-links-div i:hover {

    color: rgb(0, 91, 161);
    transition: 0.3s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #333;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px); /* Apply blur to the navbar background */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.navbar a {
    text-decoration: none;
    color: azure;
    margin: 0 10px;
}

.navbar i {
    font-size: 2em;
}

.navbar a:hover {
    color: gray;
    transition: 0.6s;
}

.banner-div {
    width: 100%;
    overflow: hidden;
}

.banner-img-div {
    width: 100%;
}

.banner-img-div img {
    width: 100%;
    height: auto;
    display: block;
}
